<%= form_for(@chirp) do |f| %>
  <% if @chirp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chirp.errors.count, "error") %> prohibited this chirp from being saved:</h2>

      <ul>
      <% @chirp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :chirp %><br>
    <%= f.text_field :chirp %>
  </div>
  <div class="field">
    <%= f.label :bird_id %><br>
    <%= f.number_field :bird_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
