<p id="notice"><%= notice %></p>

<p>
  <strong>Handle:</strong>
  <%= @bird.handle %>
</p>

<p>
  <strong>Location:</strong>
  <%= @bird.location %>
</p>

<%= link_to 'Edit', edit_bird_path(@bird) %> |
<%= link_to 'Back', birds_path %>
